<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to get started</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aperiam quasi accusantium
                doloribus esse odit natus magnam alias animi. Expedita molestiae laudantium eveniet voluptates
                tempora non sequi blanditiis enim cumque?</p>
        </div>
        <a href="" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
</div>