<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, laborum officia ex magni
        aliquam expedita in
        facere accusantium repellat eius facilis sunt numquam eligendi deserunt sit voluptates illum quas rerum
        nulla id veniam dolorum odio! Perspiciatis, repellat labore officiis eligendi sunt quod perferendis nostrum?
        Esse asperiores officia magni tenetur qui!</p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__organization">ABC Company</p>
            </div>
        </div>
    </footer>
</blockquote>